* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

body {
  height: 95vh;
  margin: 0;
}

html {
  background: url(./bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#root {
  height: 100%;
}

/* Navigation bar */

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

nav li {
  width: 100%
}

nav li a {
  display: block;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color, 0.5s;
}

nav li a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  transition: background-color, 0.4s;
  margin: 0
}

button.selected, button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* wrapper is used to align a single div element vertically */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* timer */

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-width: 500px;
  height: 50%;
}

.timer h1 {
  position: relative;
  margin: 0 auto;
  bottom: 40px;
  text-align: center;
  font-size: 6em;
}

/* timer buttons */

.buttons ul {
  display: flex;
  justify-content: center;
  width: 450px;
  margin: auto;
}

.buttons li {
  width: 100%;
  text-align: center;
}

.buttons button {
  width: 150px;
  padding: 20px;
}

.buttons button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* reports */

.reports {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
  margin: auto;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: auto;
  border-spacing: 0px;
  border-collapse: collapse;
}

tr {
  display: table-cell;
}

th, td {
  display: block;
  border: 0.5px solid black;
  text-align: center;
  font-size: larger;
  padding: 15px 0px 15px 0px;
  background-color: rgba(0, 0, 0, 0.2);
}


.chart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.5px solid black; 
}

.chart button {
  width: 100px;
}

.chart h3 {
  text-align: center;
}

.canvas {
  width: 60%;
  margin: 40px auto 40px auto;
}

/* submission */

.submit {
  display: flex;
  justify-content: space-evenly;
}

.select-category {
  display: flex;
  flex-direction: column;
}

.select-category h3 {
  text-align: center;
  margin-bottom: 30px;
}

.select-category button {
  font-size: 20px;
  margin: 20px auto 0 auto;
}

.list-of-categories {
  display: flex;
  flex-direction: column;
}

.list-of-categories button {
  width: 300px;
  display: inline;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 18px;
  margin: auto;
  font-size: 18px;
  text-align: center;
}

button.selected {
  background-color: rgba(0, 0, 0, 0.6);
}